<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="m-3">
  <div class="mb-3">
    <label for="title" class="form-label">Tytuł:</label>
    <input type="text" id="title" formControlName="title" required class="form-control">
  </div>

  <div class="mb-3">
    <label for="author-id" class="form-label">Id autora:</label>
    <input type="text" id="author-id" formControlName="authorId" required class="form-control">
  </div>

  <div class="mb-3">
    <label for="ibnr" class="form-label">Ibnr:</label>
    <input type="text" id="ibnr" formControlName="ibnr" required class="form-control">
  </div>

  <div class="mb-3">
    <label for="year" class="form-label">Rok:</label>
    <input type="number" step="1" id="year" formControlName="year" required class="form-control">
  </div>

  <button type="submit" [disabled]="bookForm.invalid" class="btn btn-primary">Zapisz</button>
</form>
